<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="navv">
        
        <a href="/" id="logo" class="explore">NotesNation.</a>
        <a href="/explore" class="explore menu-iconn exxplore">Explore</a>
        <a href="/user/login" class="explore menu-iconn login">
            <%if(locals.user){%>
                Profile 
            <%}else{%>
                Login
            <%}%>
        </a>
        <a href="#" class="explore menu-iconn contri">Contribute</a>
        
</div>
<div id="ham">
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
    <label for="menu-icon"></label>
    <nav class="nav"> 		
        <ul class="pt-5">
            <li><a href="/" class="menu-icon">Home</a></li>
            <li>
                <%if(locals.user){%>
                    <a href="/user/profile">Profile 
                <%}else{%>
                    <a href="/user/login">Login
                <%}%>
                </a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="#">Contribute</a></li>
        </ul>
    </nav>
</div>
</body>
</html>