<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/explore.css">
</head>
<body>
    <%- include('_header'); %>
    
    <div id="container">
        <a href=""> <div class="branch" id="civ">
            <div id="civ-img" class="branch-img"></div>
            <div class="branch-text">Civil</div>
        </div>
    </a>
    <a href="">
        <div class="branch" id="cse">
            <div id="cse-img" class="branch-img"></div>
            <div class="branch-text">Computer Science & Information Technology</div>
        </div>
    </a>
    <a href="">
        <div class="branch" id="ee">
            <div id="ee-img" class="branch-img"></div>
            <div class="branch-text">Electrical</div>
        </div>
    </a>
    <a href="">
        <div class="branch" >
            <div id="ece-img" class="branch-img"></div>
            <div class="branch-text">Electronics & Comminication</div>
        </div>
    </a>
    <a href="">
        <div class="branch" >
            <div id="me-img" class="branch-img"></div>
            <div class="branch-text">Mechanical</div>
        </div>
    </a>
    <a href="">
        <div class="branch" >
            <div id="oth-img" class="branch-img"></div>
            <div class="branch-text">Applied Sciences</div>
        </div>
    </a>

    </div>
    <%- include('_footer'); %>

</body>
</html>