<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <div class="navv">

    </div>
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  	<label for="menu-icon"></label>
  	<nav class="nav"> 		
  		<ul class="pt-5">
  			<li><a href="#">Home</a></li>
  			<li><a href="#">Explore </a></li>
  			<li><a href="#">Contribute</a></li>
  			<li><a href="#">Contact</a></li>
  		</ul>
  	</nav>
    <div class="container">
        <div class="box">
    
            <div class="title">
                <span class="block"></span>
                <h1>LET'S BUILD THE COMMUNITY<span></span></h1>
            </div>
    
           
    
        </div>
    </div>
   
    <div id="search-div">
        <div class="search-text">
            Search Notes
        </div>
        <br>
        <form role="search">
            
            <input id="search" type="search" placeholder="Search..." autofocus required />
            <button type="submit">Go</button>    
          </form>
</div>

</body>

<script src="/js/home.js"></script>
</html>