<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fg</title>
</head>
<body>
    
    <p><%=user.name%></p>
    <p><%=user.email%></p>
    <p><%=user.score%></p>
    <a href="./sign-out">signout</a>
</body>
</html>