#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.branch {
  height: 400px;
  width: 350px;
  margin: 20px;
  text-align: center;
  margin-bottom: 50px;
  background-color: #ffffff; }

.branch {
  position: relative; }
  .branch::before, .branch::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border: 2px solid #6f00ff;
    transition: all .25s ease-out; }
  .branch::before {
    background-color: #6f00ff;
    top: -15px;
    left: -15px; }
  .branch::after {
    bottom: -15px;
    right: -15px; }
  .branch:hover::before {
    top: 15px;
    left: 15px; }
  .branch:hover::after {
    bottom: 15px;
    right: 15px; }

.branch:hover {
  box-shadow: none; }

.branch-img {
  margin: auto;
  width: 350px;
  height: 300px;
  border-radius: 10px; }

#civ-img {
  background-image: url(/images/civil.jpg);
  background-size: cover; }

#cse-img {
  background-image: url(/images/cse.jpg);
  background-size: cover; }

#ee-img {
  background-image: url(/images/ee.jpg);
  background-size: cover; }

#ece-img {
  background-image: url(/images/ece.jpg);
  background-size: cover; }

#me-img {
  background-image: url(/images/me.jpg);
  background-size: cover; }

#oth-img {
  background-image: url(/images/other.jpg);
  background-size: cover; }

.branch-text {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
  font-family: montserrat;
  color: #6f00ff; }
