@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
body {
  text-align: center;
  background: #181818;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden; }

.navv {
  height: 120px;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 60px; }

#logo {
  font-size: 40px;
  font-family: montserrat;
  font-weight: 700;
  color: #6200ff;
  text-align: left;
  margin-top: 17px;
  transition: .5s; }

#contri {
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  height: 40px;
  width: 130px;
  border: 2px solid #ffffff;
  padding-top: 15px;
  color: #ffffff;
  font-family: montserrat;
  transition: .3s; }

.explore:before {
  transform: scaleX(0);
  transform-origin: bottom right; }

.explore:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left; }

.explore:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 4px solid #6200ff;
  transition: transform .3s ease; }

.explore {
  padding-bottom: 8px;
  position: relative; }

.explore:hover {
  color: #6200ff; }

#contri:hover {
  background-color: #6200ff;
  border: 2px solid  #6200ff; }

@media all and (max-width: 1000px) {
  .contri {
    display: none; } }

@media all and (max-width: 450px) {
  #logo {
    transform: scale(0.5);
    margin-left: -50px; }
  .nav li {
    transform: scale(0.75); }
  .navv {
    justify-content: left; } }

@media all and (max-width: 850px) {
  .login {
    display: none; } }

@media all and (max-width: 750px) {
  .exxplore {
    display: none; } }

.menu-iconn {
  font-size: 35px;
  font-weight: 550;
  border-radius: 10px;
  transition: .5s;
  padding-top: 20px;
  color: #ffffff;
  font-family: montserrat; }

.section-center {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%); }

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.menu-icon:checked + label,
.menu-icon:not(:checked) + label {
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10; }

.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 16px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #6f00ff;
  border-bottom: 2px solid #6f00ff;
  transition: border-width 100ms 1500ms ease, top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1); }

.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 1.85px;
  z-index: 20;
  top: 10px;
  background-color: #6f00ff;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease, margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1); }

.menu-icon:checked + label:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #6f00ff;
  border-width: 0;
  transition: border-width 100ms 340ms ease, top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 200ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1); }

.menu-icon:checked + label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease, transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1); }

.nav {
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 #000000;
  background-color: #060014;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 1100ms ease, width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1), height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1); }

@keyframes border-transform {
  0%, 100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } }

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease, width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1), height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1); }

.nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none; }

a {
  text-decoration: none; }

.nav ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear; }

.nav ul li:nth-child(1) {
  transition-delay: 200ms; }

.nav ul li:nth-child(2) {
  transition-delay: 150ms; }

.nav ul li:nth-child(3) {
  transition-delay: 100ms; }

.nav ul li:nth-child(4) {
  transition-delay: 50ms; }

.nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear; }

.nav ul li a:hover {
  text-decoration: none;
  color: #6f00ff; }

.menu-icon:checked ~ .nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease; }

.menu-icon:checked ~ .nav ul li:nth-child(1) {
  transition-delay: 1400ms; }

.menu-icon:checked ~ .nav ul li:nth-child(2) {
  transition-delay: 1480ms; }

.menu-icon:checked ~ .nav ul li:nth-child(3) {
  transition-delay: 1560ms; }

.menu-icon:checked ~ .nav ul li:nth-child(4) {
  transition-delay: 1640ms; }

.logo {
  position: absolute;
  top: 60px;
  left: 50px;
  display: block;
  z-index: 11;
  transition: all 250ms linear; }

.logo img {
  height: 26px;
  width: auto;
  display: block; }

@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label {
    right: 55px; }
  .logo {
    left: 30px; }
  .nav {
    right: 30px; }
  h1 {
    font-size: 9vw;
    -webkit-text-stroke: 2px transparent;
    text-stroke: 2px transparent;
    -webkit-text-fill-color: #ffeba7;
    text-fill-color: #ffeba7;
    color: #ffeba7; }
  .nav ul li a {
    font-size: 8vh; } }

.container {
  width: 100%;
  height: 30vh;
  background: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container .box {
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .container .box .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 50px; }
      .container .box .title .block {
        width: 0%;
        height: inherit;
        background: #6f00ff;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        display: flex; }
      .container .box .title h1 {
        font-family: 'Poppins';
        color: #fff;
        font-size: 32px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative; }
        .container .box .title h1 span {
          width: 0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: #6f00ff;
          -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px; }
    .container .box .role {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: -10px; }
      .container .box .role .block {
        width: 0%;
        height: inherit;
        background: #e91e63;
        position: absolute;
        animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        display: flex; }
      .container .box .role p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
        font-weight: 400;
        font-family: 'Lato';
        color: #ffffff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px; }

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0; }
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 0;
    left: 100%; } }

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0; }
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 0;
    left: 100%; } }

@keyframes mainFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #6f00ff;
    border: 0px solid #ddd;
    opacity: 0; }
  50% {
    width: 10px;
    height: 10px;
    background: #6f00ff;
    opacity: 1;
    bottom: 45px; }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px; }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px; }
  100% {
    width: 7px;
    height: 7px;
    background: #6f00ff;
    border: 0px solid #fdfdfd;
    bottom: 13px; } }

@keyframes secFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }

@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px; }
  100% {
    opacity: 1;
    bottom: 0px; } }

@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0); }
  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-2deg); }
  100% {
    opacity: 1;
    bottom: 0px; } }

.search-text {
  font-size: 50px;
  font-weight: 700;
  font-family: montserrat;
  color: #ffffff; }

#search-div {
  margin-top: 10vh;
  transform: scale(0.75); }

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #6200ff;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49); }

#searchf {
  position: relative;
  width: 60vw;
  background: #fff;
  border-radius: var(--rad);
  margin: auto; }

@media all and (max-width: 600px) {
  form {
    width: 90vw; } }

input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem; }

input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  content: none; }

button {
  display: none;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: #6200ff;
  border-radius: 0 var(--rad) var(--rad) 0; }

#search:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - 6.5rem);
  content: none;
  left: -3rem; }
  #search:not(:placeholder-shown) + button {
    display: block; }
